h1, h2, h3, h4, h5, h6 {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

.column-class {
    border-right: dashed #adadad;
}

.card{
    box-sizing: border-box;
    padding: 1%;
    width: 100%;
    align-items: stretch;
    flex-direction: row;
}

limel-list > ul > li{
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 2px #adadad;
}

.column-header{
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 20px;
}