body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

limel-grid { 
    font-family: Roboto, 'Open Sans', Helvetica, sans-serif;
    /*display: grid; */
    --lime-grid-columns: auto;
    --lime-grid-rows: 3;
    --lime-grid-cell-height: auto auto 75%;
    --lime-grid-area:
        "header"
        "urgent"
        "main"; 
    width: 100%;
}

grid-header{
    /*display: grid;*/
    box-sizing: border-box;
    grid-area: header;
    --lime-grid-columns: repeat(3, auto);
    /*--lime-grid-cell-width: 30%; */
    --lime-grid-rows: auto;
    --lime-grid-area:
        "h1 dropdown week-display"; 
    padding: 1%;
    grid-gap: 5%;
    background-color:whitesmoke;
}

grid-header > h1{
    box-sizing: border-box;
    grid-area: h1;
    display: inline-block;
}

grid-header > .dropdown{
    box-sizing: border-box;
    grid-area: dropdown;
    display: inline-block;
}

grid-header > #week-display{
    box-sizing: border-box;
    grid-area: week-display;
    display: inline-block;
}

grid-main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding-top: 0%;
}

urgent-component{
    grid-area: urgent;
    box-sizing: border-box;
    background-color:lightcoral;
    border-style: solid;
    border-color: red;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

urgent-component:empty{
    display: none;
}

flex-section{
    box-sizing: border-box;
    grid-area: section;
    width: 16.6%;
    flex-wrap: wrap; 
    align-items: center;
    align-items: flex-start;
    padding: 0.5%;
    border-right: dotted 1px;
}

flex-section > h3{
    margin: 1%;
}

.card{
    box-sizing: border-box;
    /*grid-template-rows: 30% 40% 30%;
    grid-template-columns: auto;
    grid-template-areas: 
        "title"
        "description"
        "information"; 
    box-shadow: 1px 1px 1px 1px lightgrey; */
    background-color: lightslategray;
    padding: 1%;
    margin: 1%;
}
