limel-grid {
    font-family:'Roboto','Open Sans','Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    --lime-grid-columns: 1;
    --lime-grid-cell-height: 80px;
    --lime-grid-area:
        "header"
        "main"; 
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px #575756;
}

grid-header{
    box-sizing: border-box;
    grid-area: header;
    --lime-grid-columns: 4;
    --lime-grid-area:
        "heading filter week-display no-filter-button"; 
    padding: 1%;
    gap: 5%;
    background-color:white ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2px;
}

.citrus-icon {
    box-sizing: border-box;
    padding: 0%;
    margin-top: 1%;
    float: left;
    align-items: center;
} 

grid-header > * {
    box-sizing: border-box;
    gap: 10%;
    width: 30%;
    text-align: center;
}

grid-header > #heading-icon{
    grid-area: heading;
    text-align: start;
    padding: 1%;
}

#heading-icon h1{
    font-size: small;
}

grid-header > #filter{
    grid-area: filter;
}

grid-header > #week-display{
    grid-area: week-display;
}

grid-header > #no-filter-button{
    grid-area: no-filter-button;
    margin-left: 2px;
}

#week-display > label > .mdc-text-field {
    background-color: #444444 !important;
}

grid-main{
    grid-area: main;
    padding-top: 0%;
}