

limel-grid { 
    font-family:'Roboto','Open Sans','Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    --lime-grid-columns: 1;
    --lime-grid-cell-height: 80px;
    --lime-grid-area:
        "header"
        "main"; 
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px #575756;
}

grid-header{
    box-sizing: border-box;
    grid-area: header;
    --lime-grid-columns: 3;
    --lime-grid-area:
        "heading filter week-display"; 
    padding: 1%;
    gap: 5%;
    background-color:whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px --lime-light-gray;
}

.citrus-icon {
    box-sizing: border-box;
    padding: 0%;
    margin-top: 1%;
    float: left;
    align-items: center;
} 

grid-header > * {
    box-sizing: border-box;
    gap: 10%;
    width: 30%;
    text-align: center;
}

grid-header > #heading-icon{
    grid-area: heading;
    text-align: start;
    padding: 1%;
}

#heading-icon h1{
    font-size: small;
}

grid-header > #filter{
    grid-area: filter;
}

grid-header > #week-display{
    grid-area: week-display;
}

#week-display > label > .mdc-text-field {
    background-color: #444444 !important;
}

grid-main{
    grid-area: main;
    padding-top: 0%;
}

#urgent{
    box-sizing: border-box;
    background-color: #f05750; 
    border-style: solid;
    border-color: red;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

#urgent:empty{
    display: none;
}